@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&family=Spartan:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Gemunu+Libre:wght@300&family=Jura:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root{
    --font-01:'Raleway', sans-serif;
    --font-02:'Spartan', sans-serif;
}

body{
    line-height:1.8;
    font-size: 10px;
}


h2{
    font-size:25px;
    color:black;
    font-weight:700;
    margin-bottom:40px;
    text-transform: uppercase;
    font-family:'Dosis', sans-serif;
}

h4{
    margin-bottom:10px;
    font-weight:500;
    line-height: 1.38em;
    font-size:20px;
    color:#444343;
   font-family: var(--font-02);
}

p{
    font-size: 20px;
    color:black;
    margin-bottom:30px;
    font-weight:300;
    font-family: var(--font-01);
}

#contact p, #contact h2 { 
    margin-bottom:0;
}

h1{ 
    font-size:4.5rem;
    font-family: 'Luckiest Guy', cursive;
    color:#686573;
}

.certificates, .portfolio
{
    font-family: 'Luckiest Guy', cursive;
    color:#d4a790;
    text-shadow:2px 4px 0 #686573;
}

.row{
    margin-bottom:100px;
}


.navbar{
    margin-bottom:0;
    z-index: 100;
    border:0;
    line-height: 1.5 !important;
    letter-spacing: 4px;
    font-size: 1.5rem !important;
    border-radius:0;
    font-family: 'Luckiest Guy', cursive;
}

.navbar li a, .navbar .navbar-brand{
    color:#686573 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a{
    color:#d8b9aa !important;
}

.navbar-default .navbar-toggle{
    border-color: transparent;
    color:#fff !important;
}



/* jumbotron */
.jumbotron{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    color:#fff;
    width:100vw;
    height: 100vh;
    font-family: 'Luckiest Guy', cursive;
    font-weight:700;
    overflow-y: hidden;
}

.jumbotron .row, .container
{
    width:100vw;
    height: auto;
}

.profilePicture
{
   vertical-align: middle;
}

.jumbotron p { 
    color:white;
    font-size:3rem;
    font-family: 'Dosis', sans-serif;
}

.jumbotron-text
{
    padding:0 50px;
   
}


.space
{
    padding:60px 0;
}

.jumbotron button a{
    color:#fff;
}

/* ABOUT */

#about h1 
{

}


#about button a { 
    color:#fff;
}
.container-fluid{
    padding:60px 50px;
}

.bg-gray{
    background-color:#ECECEC ;
}

.logo-small {
    color:#71879a;
    font-size:20px;
    margin:auto 0;
    display: block;
}

.social-icons a i
{
    color:#71879a;
}

/* carousel */

.carousel-control.right, .carousel-control.left{
    background-image: none;
    color:rgb(0, 153, 255);
}

.carousel-indicators li{
    border-color:rgb(0, 153, 255);
}

.carousel-indicators li.active{
    background-color: rgb(0, 153, 255);
}

.item span{
    font-size: normal;
}

.item img { 
    width:50%;
    margin:auto;
}


/* thumbnails- photos */

.profilePic{
    border-radius: 50%;
    display: block;
    width:60%;
    margin:0 auto;
}

.profiles { 
    width: 50%;
    display: block;
    margin:0 auto;
}

.thumbnail{
    padding:5px 0 20px 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#portfolio .row, #services .row{
    margin-bottom:0;
}


.thumbnail img{ 
    width:100%;
    height:100%;
    margin-bottom:10px;
}

.thumbnail p {
    margin-bottom:0;
}

.feed{
    margin-bottom:0px;
}

/* footer */
#footer{
    background-color: #b1c5d4;
}

#footer .footer a i, #footer h4{
    padding:0px 10px;
    color:#686573;
}

/* ANIMATION */
.slideanim {visibility:hidden;}
.slide{
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration:1s;
    -webkit-animation-duration:1s;
    visibility: visible;
}

@keyframes slide {
    0%{
        opacity:0;
        transform: translateY(70%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide{
    0%{
        opacity:0;
        -webkit-transform: translateY(70%);
    }
    100%{
        opacity:1;
        -webkit-transform: translateY(0%);
    }
}

/* @media screen and (max-width:1050px) {
    h2{
        font-size:20px;
    }

    h4{
        font-size:17px;
    }
    
    p{
        font-size: 15px;
    }

    .navbar{
        font-size:10px;
    }
}


@media screen and (min-width:767px) and (mix-width:501px) {
    .navbar-brand > h1 
    {
        font-size:15px;
    }

    /* JUMBOTRON 
    .jumbotron
    {
        height:510px;
    }

    .jumbotron-text
    {
        padding-top:50px;
    }

    .jumbotron-text h1 {
        font-size: 4.7rem;
    }
    .jumbotron-text p 
    {
        font-size: 2rem;
    }

    .space
    {
        padding:0;
    }

    .profilePic
    {
        border-radius:0;
        height:200px;
    }

 

    
}*/

@media screen and (min-width:375px) and (max-width:600px) {

    body{
        font-size:10px;
    }

    /* nav */
    .navbar-brand > h1
    {
        font-size:15px;
    }
    .navbar-nav li a {
        font-size:10px;
    }

    /* jumbotron */

    .jumbotron
    {
        overflow-y: visible;
    }

    .jumbotron-text h1
    {
        font-size:5rem;
    }

    .jumbotron-text
    {
        margin-bottom:320px;
        padding-top:80px;
    }

    .profilePicture
    {
        
        height:400px;
        border-radius:1rem;
        margin:50px 0;
    }

    .col-sm-6
    {
        width: 100%;
    }

    .social-icons
    {
       margin:270px 0 0 0;
    }
    
    
    /* About */
    #about h1, #services h1, .certificates , .portfolio
    {
        font-size:3.3rem;
    }
    
    #about p, #services p, .jumbotron p
    {
        font-size:1.7rem;
    }
    
    #services h2
    {
        font-size:3rem;
    }

     #services h4
     {
         font-size:2rem;
         color:#e4a98c;
     }

     #services .logo-small{
        font-size:30px;
    }

     .container-fluid
     {
         padding:60px 50px 30px 50px;
     }


    .row{
        margin-bottom:10px;
    }

    /* CAROUSEL */

    .carousel-indicators li
    {
        display:hidden;
        border-color:transparent;
    }
    
    .carousel-indicators li.active{
        background-color: transparent;
    }

    

    .item img { 
        width:100%;
        margin:auto;
    }

    iframe{
        height:200px;
    }
    
    form{
        margin-top: 10px;
    }
    
}